.cart-icon-container {
    display: flex;
}



.dsc-cart-count {
    background-color: yellow;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -30px;
    
}