.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 60px;
  background-color: red;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav a.active {
  color: yellow;
}

.nav-title {
  padding-left: 10px;
  color: yellow;
  font-size: 2em;
}

.nav-main {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 0;
}

.nav-main li {
  padding: 10px;
  font-size: 1.2em;
}

.nav-main li:hover {
  color: yellow;
  cursor: pointer;
}

.nav-main svg {
  width: 80px;
  height: 20px;
}

.content {
  padding-top: 60px; /* Altura da navbar */
}
