.cart-container-section {
  padding: 20px 10px;
  height: 100vh;
}

.dsc-card {
  padding: 10px;
  background-color: #fff;
}

.dsc-cart-total-container {
  padding: 10px 20px;
}

.dsc-cart-total-container h3 {
  text-align: left;
  font-size: 16px;
  color: red;
}

.dsc-cart-item-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.dsc-cart-item-container img {
  width: 78px;
  height: 78px;
}
.dsc-cart-item-left img {
  margin: 0 5px 5px 0;
}
.dsc-cart-item-left {
  display: flex;
}

.dsc-cart-item-quantity-container {
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.dsc-cart-item-right {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #9e9e9e;
}

.dsc-cart-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--dsc-color-font-primary);
}

.dsc-cart-item-description h3 {
  font-size: 16px;
}

.dsc-cart-item-description p {
  font-size: 20px;
  color: #9e9e9e
}
.dsc-cart-item-description svg {
  font-size: 25px;
  color: #407BFF;
}
.dsc-cart-item-quantity-btn {
  color: var(--dsc-color-btn-primary);
  cursor: pointer;
}

.dsc-cart-item-quantity-container p {
  margin: 0 5px;
}

.dsc-cart-button-container {
  padding: 0 380px;
}
.dsc-cart-button-container button {
  font-size: 1.5em;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
}

@media (min-width: 576px) {
  .dsc-cart-item-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .dsc-cart-item-right {
    padding-top: 10px;
  }

  .dsc-cart-total-container h3 {
    text-align: right;
  }
}
