.test-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.test-banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.test-banner-container img {
  height: 100%;
}


.test-container-catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
